
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--sd-bg-color);
}

.about-img img {
    width: 35vw;
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;

        .about-img img {
            width: 100vw;
            margin-top: 4rem;
        }
    }

}
.about-img img {
    width: 13vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    line-height: 2.6rem;
}

.about-content p {
    line-height: 1.6rem;
    margin: 2rem 0 3rem;
}
