<section class="about" id="about">
    <div class="about-img">
        <img src="../../assets/images/img.png" alt="profile">
    </div>
    <div class="about-content">
        <h2 class="heading">ABOUT <span>Me</span></h2>
        <h3>Frontend Developer</h3>
        <p><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non reiciendis nemo, quibusdam cum, fuga
            dignissimos quisquam eius facere sit minus, unde eveniet. Nostrum, voluptatem. Quae quasi ratione ullam
            velit corporis magni voluptatem voluptatibus tempora animi? Est obcaecati tenetur doloremque laudantium!</b></p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>
