
<!-- Service Section -->
<section class="services" id="services">
    <h2 class="heading">My <span>Services</span></h2>
    <div class="services-container">
        <div class="services-box">
            <i class="fa-solid fa-code"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque minus deserunt architecto, aliquam
                repellendus. Dolore, dolores velit voluptates dolorum, possimus non, ipsam soluta perspiciatis nisi
                facere quam itaque debitis?</p>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class="fa-solid fa-code"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque minus deserunt architecto, aliquam
                repellendus. Dolore, dolores velit voluptates dolorum, possimus non, ipsam soluta perspiciatis nisi
                facere quam itaque debitis?</p>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class="fa-solid fa-code"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque minus deserunt architecto, aliquam
                repellendus. Dolore, dolores velit voluptates dolorum, possimus non, ipsam soluta perspiciatis nisi
                facere quam itaque debitis?</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>