
<section class="portfolio" id="portfolio">
    <h2 class="heading"> Latest <span>Projects</span></h2>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
    </div>
</section>