<!-- ng build --output-path docs --base-href /Portfolio/ -->

<header class="header">
    <a href="#" class="logo">Portfolio</a>
    <i class="fa-solid fa-bars" id="menu-icon"></i>
    <nav class="navbar">
        <a href="#home" class="active">Home </a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </nav>
</header>
<!-- Home Section -->
<section class="home" id="home">
    <div class="home-content">
        <h3>Hi Myself</h3>
        <h1>Akash Singh Rawat</h1>
        <h3><span>full stack developer</span></h3>
        <p><b>expertise is to create interactive front end and excelence backend Lorem ipsum dolor sit amet consectetur.</b>
        </p>
        <div class="social-media">
            <a href="https://github.com/buck2418Q/"> <i class="fa-brands fa-github" style="color: #ffffff;"></i> </a>
            <a href=""><i class="fa-brands fa-square-behance" style="color: #ffffff;"></i></a>
            <a href="https://www.linkedin.com/in/akash-rawat-a34a71195/"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="../../assets/images/img.png" alt="profile">
    </div>
</section>

<!-- about section  -->
<app-about></app-about>
<app-service></app-service>
<!-- Portfolio Section -->
<section class="portfolio" id="portfolio">
    <h2 class="heading"> Latest <span>Projects</span></h2>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="../../assets/images/1.jpg" alt="img">
            <div class="portfolio-layer">
                <h4>Web Designer</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <i class="fa-solid fa-share-from-square"></i>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<app-contact></app-contact>

I


<app-footer></app-footer>
